.viewed-tasks {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 60px);

  @media screen and (max-width: 1599px) and (min-width: 320px) {
    max-height: calc(100% - 120px);
  }
}

.viewed-tasks__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: auto;
}

.viewed-tasks__to-do-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #dcf2ea;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
  height: 100%;
  max-height: calc(100% - 200px);

  &::-webkit-scrollbar {
    background-color: #dcf2ea;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #008c59;
    border-radius: 10px;
  }
}

.viewed-tasks__modal-window-place {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ReactVirtualized__List {
  padding-right: 10px;
}

.viewed-tasks__item-to-do-list {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #b8ded0;
  border-radius: 10px;
  padding: 6px 10px;
  height: 80px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
