  .button{
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;

    &_submit {
      border: 0;
      width: auto;
      height: 30px;
      background-color: #b8ded0;
      border-radius: 10px;
      font-size: 20px;
      color: #1f634a;

      @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 100%;
      }
    }

    &_disabled {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &_pagination{
      border: 0;
      margin-bottom: 10px;
      width: auto;
      height: 30px;
      background-color: #dcf2ea;
      border-radius: 10px;
      font-size: 20px;
      color: #1f634a;
    }

    &_active {
      background-color: #76c4a8;
    }
  }