.calendar-menu__calendar{
  display: none;
  position: fixed;

  .calendar_day-green {
    background-color: #76c4a8;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 250px;
  }
}

.calendar-menu{
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  svg{

    cursor:pointer;
    color:#1f634a;
  }

  &:hover .calendar-menu__calendar{
    display: block;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      left: -60px
    }
  }
}