.date-assign{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 100%;
  }
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: #b8ded0;
  font-size: 20px;
  color: #1f634a;
  border: 1px solid gray;
  cursor: pointer;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    margin-bottom: 10px;
  }

}