.selection-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    width: 100%;
  }

  .selection-field__categories {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
    }
  }

  .selection-field__category {
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 100px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
  line-height: 46px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      background-color: #dcf2ea;
    }
  }