.search-bar{
  display: flex;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;

  svg{
    min-height: 40px;
    min-width: 40px;
    color: rgba(0,0,0,0.4);
  }

  input{
    width: 100%;
    border: 0px;
    border-radius: 10px;
    outline: none;
  }
}

