.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__menu-side-bar {
  display: none;
  position: relative;
  margin-right: 10px;
  min-height: 60px;
  min-width: 60px;

  svg {
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 1599px) and (min-width: 320px) {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      cursor: pointer;
    }

    &:hover .side-bar_size-s {
      display: flex;
      position: absolute;
      top: 60px;
      left: -20px;
      z-index: 2;
    }
  }
}

.button_add-to-do {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: none;
  background-color: #dcf2ea;
  border-radius: 10px;
  svg{
    color: #1f634a;
  }
}