  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    width: auto;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      width: calc(100% - 70px);
      margin-right: 10px;
    }
  }

  .categories {
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
    }
  }