.App {
  display: flex;
  text-align: center;
}

.toDoList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.categories_point {
  display: flex;
  border: 2px solid gray;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
}

.addToDo {
  border: 2px solid gray;
}

.modalBack{
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalFront{
  position: fixed;
  background-color: white;
  width: 500px;
  height: 400px;
  z-index: 99999;
  margin:auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header div:first-child {
  font-size: 36px;
}

.header div:last-child {
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.headingPlace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.headingPlace div {
  font-size: 24px;
}

.headingPlace input {
  width: 80%;
}

.discriptionPlace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.discriptionPlace textarea{
  width: 80%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.submit {
  border: 1px solid black;
}
